<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        webstax is a design, redesign, and full stack development service
        that specializes in crafting exceptional websites to captivate
        users and leave a lasting impression.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        we specialize in creating full stack web applications using mordern technologies that suit your needs.
        by leveraging these frameworks, we create tailored and optimized websites
        that effectively share your stories, connect with your target audience, and
        create memorable experiences. let us help you achieve your goal of creating a
        remarkable online presence.
      </p>
    </div>
  </div>
</section>
