---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en" class="selection:bg-carrot selection:text-white">
  <head>
    <title>webstax: custom software solutions</title>
    <meta name="google-site-verification" content="6eeNhseCHELUkqfOR0FBJKSl5kNbtJYUblacRCL1-fI" />
    <meta name="description" content="Webstax Inc. - Expert web development services designed and built in Minnesota. Contact us today to learn more about our innovative solutions.">
    <link rel="canonical" href="https://webstaxx.netlify.app/" title="webstax" />
    <link rel="preload" href="/fonts/font.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/font.woff" as="font" type="font/woff" crossorigin="anonymous">    
    <link rel="preload" href="/src/styles/global.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/src/styles/global.css"></noscript>


    <link rel="icon" href="/favicon_io/favicon.ico" type="image/x-icon" />
    <BaseHead />
    <script async src="https://tally.so/widgets/embed.js"></script>
    <script>
        window.TallyConfig = {
            "formId": "nrEDgN",
            "popup": {
                "emoji": {
                    "text": "👋",
                    "animation": "wave"
                },
                "overlay": true,
                "autoClose": 3000,
                "doNotShowAfterSubmit": true
            }
        };
    </script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Webstax Inc.",
      "url": "https://webstaxx.netlify.app",
      "logo": "https://webstaxx.netlify.app/favicon_io/favicon-32x32.png", 
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+91-814-302-5550",
        "contactType": "Customer Service"
      },
      "sameAs": [
        "https://www.linkedin.com/company/webstax-inc/"
      ]
    }
    </script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Webstax Inc.",
      "address": 
        {
        "@type": "PostalAddress",
        "streetAddress": "872 Trails End Rd",
        "addressLocality": "Eagan",
        "addressRegion": "MN",
        "postalCode": "55104",
        "addressCountry": "US"
        },
      "telephone": "+91-814-302-5550"
    }
    </script>

  </head>
  <body class="mx-auto bg-black 2xl:max-w-7xl">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
