<footer class="border-white/20 border-b bg-accent-500">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="uppercase font-display text-2xl">webstax</p>
        <p class="mx-auto mt-3 text-sm">
          designed and built in minnesota by <a
            class="underline"
            href="https://www.linkedin.com/in/aarnavsinghh" target="_blank">aarnav singh</a
          >.
        </p>
      </div>
    </div>
    <div class="mx-auto border-white/20 border-t flex flex-col p-8">
      <p class="text-white text-center text-sm font-display">
        learn more about our us on <a href="https://www.linkedin.com/company/webstax-inc/" target="_blank">
          linkedin &nbsp; &rarr;</a
        >
      </p>
    </div>
    <div class="mx-auto border-white/20 border-t flex flex-col p-8 w-full">
      <!-- Google Maps iframe -->
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.496401911832!2d-93.13620650657626!3d44.8318231964787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f62d0e971123f7%3A0xe09d3256b46c36a4!2s872%20Trails%20End%20Rd%2C%20Eagan%2C%20MN%2055123%2C%20USA!5e0!3m2!1sen!2sin!4v1720419933865!5m2!1sen!2sin" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</footer>
